:root {
  --primary-color: #1992d4;
  --bg-color: #e2e8f0;
  --surface-color: #ffffff;
  --accent-color: #f0b429;
  
  --text-main: #000000;
  --text-secondary: #636363;
  
  --font-main: 'Roboto', sans-serif;
  
  --sidebar-width: 280px;
  --border-radius: 8px;
  --shadow-sm: 0 2px 5px rgba(0,0,0,0.1);
  --gap-default: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--bg-color);
  color: var(--text-main);
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border-radius: 50%;
  width: 4rem;
}

/* sidebar */

.dashboard-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
  min-height: 100vh;
}

.sidebar-brand {
  display: flex;
  gap: 10px;
}
.sidebar-nav i {
  margin-right: 10px;
  padding-bottom: 1rem;
}

.sidebar-footer i {
  margin-right: 10px;
  padding-bottom: 1rem;
}

/* header */

.header {
  padding: 2rem 4rem;
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-bottom: 1.5rem;
}

.search-wrapper input{
  padding: 0 1rem;
  background-color: rgba(50, 50, 50, 0.1);
  border: none;
  border-radius: 20px;
  width: 30rem;
  max-width: 100%;
  height: 2rem;
}

.search-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-welcome {
  display: flex;
  align-items: center;
}

.user-welcome img {
  margin-right: 1rem;
}

.welcome-text {
  font-size: 0.8rem;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-primary {
  margin: 0;
  border: none;
  width: 5.5rem;
  height: 2.3rem;
  color: aliceblue;
  border-radius: 3rem;
  background-color: #1992d4;
  cursor: pointer;
}